*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(28,36,61);
    background: linear-gradient(90deg, rgba(28,36,61,1) 2%, rgba(63,59,102,1) 25%, rgba(101,51,167,1) 72%, rgba(115,70,194,1) 92%);
}
.container{
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 1;
}